.img-fluid.img-size {
  object-fit: scale-down;
  height: 8rem;
}

.cart.rm-icon {
  font-weight: bold;
  cursor: pointer;
  color: #d9230f;
  font-size: 1.1rem;
}

.cart.rm-icon:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}
